* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-joseph-sans);
  background: var(--bg-color);
  color: var(--text-color);
  font-weight: 400;
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

/* navbar */
.nav-menu {
  border: none;
  font-size: 1.5rem;
  color: var(--text-color);
}

.navbar-nav a {
  color: var(--text-color);
  position: relative;
  font-weight: 600;
  transition: all 0.3s ease;
}

.navbar-nav a:hover {
  color: var(--text-color);
  transform: translateY(-3px);
}

.navbar-nav a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  top: 35px;
  position: absolute;
  background: var(--bg-purple);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar-nav a:hover::after {
  width: 100%;
  left: 0;
}
