:root {
  /* fonts */
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Open Sans", sans-serif;
  --font-joseph-sans: "Josefin Sans", sans-serif;

  /* background */
  --bg-color: #fff;
  --bg-purple: #8000ff;
  --bg-alt: #333;
  --bg-alt-2: #f0f0f0;
  --bg-transparent: #ffffffe8;
  --border: 0.01rem solid #333;
  --text: #333;
  --text-alt: #fff;

  /* text */
  --text-color: #333;

  /* colors */
  --white: #fff;
  --black: #000;
}

:root.dark-mode {
  --bg-alt: #3c3d40;
  --bg-alt-2: #333;
  --bg-transparent: #333333f5;
  --border: 0.01rem solid #5a5a5a;
  --text: #fff;
  --bg-color: #202124;
  --text-color: #fff;
}

.icon {
  height: 2rem;
  width: 2rem;
  margin: 0 0.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* color-mode */
#color-mode {
  background: var(--bg-alt-2);
  height: 2.75rem;
  width: 4rem;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

#toggle-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

i {
  color: var(--text-color);
  font-size: 1.4rem;
  text-align: center;
}

.dark-mode #color-mode {
  justify-content: flex-end;
}
